#ai-badge-layer {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh;
    pointer-events: none; 
    z-index: 2147483647; 
  }

  .ai-badge-wrapper {
    position: absolute; 
    pointer-events: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    gap: 6px;
    transform: translateX(-100%);
    transition: opacity 0.1s;
  }


.toggle-badge{
    top: 60px;
    right: 10px;
    z-index: 999;
    padding: 4px 8px;
    font-family: sans-serif;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;

}

.ai-confidence-badge {
  top: 10px;
  right: 10px;
  z-index: 999;
  padding: 4px 8px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease;
}

.ai-confidence-badge.ai-flagged {
  background-color: #530904; 
}

.ai-confidence-badge.human-flagged {
  background-color: #043613; 
}

.ai-confidence-badge.unsure-flagged {
  background-color: #63420a; 
}


img.ai-image-grayed {
  filter: grayscale(100%) opacity(0%);
  transition: filter 0.3s ease;
}


img.ai-image-grayed:hover {
  filter: grayscale(0%) opacity(40%);
}

.ai-image-whited-out {
    filter: contrast(0) brightness(10) !important;
    background-color: #ffffff !important;
    transition: filter 0.3s ease-in-out;
}